@import "bulma.css";

/* Default (Light Mode) */
:root {
    --background-color: #ffffff;
    --text-color: #303030;
    --primary-color: #00d1b2;
    --brand-colors: #F8941D;
}

/* Dark Mode */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #f5f5f5;
    --primary-color: #ff79c6;
    --brand-colors: #F8941D;
}

html {
    scroll-behavior: smooth;
}

.has-text-brand {
    color: var(--brand-colors) !important;
}

.btn-cstm,
.is-brand {
    background-color: var(--brand-colors);
    color: #000;
}

.btn-cstm,
.is-brand:hover {
    background-color: var(--brand-colors);
    color: #333;
}

.btn-footer {
    background-color: #333;
    color: white;
}

.no-border {
    border: 0;
}

header {
    padding-top: 70px;
}

.hero.is-primary {
    position: relative;
    background-image: url('../assets/contents/background.jpg');
    background-size: cover;
    background-position: center center;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.hero.is-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.93;
    z-index: 1;
}

.hero-body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 2rem;
}

.hero .title,
.hero .subtitle {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.product-image {
    max-width: 100%;
    height: auto;
}

.columns {
    align-items: center;
}

.column.is-half {
    flex-basis: 50%;
}

.navbar-burger,
.navbar-item {
    color: var(--text-color);
}

.navbar-burger span {
    background-color: var(--text-color);
}

.navbar-burger:hover span {
    background-color: var(--text-color);
}

body {
    font-family: 'Nunito', sans-serif;
}

.navbar-item,
.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.navbar-brand {
    letter-spacing: 0.05em;
}

#about {
    padding: 6rem 3rem;
}

#about .image img {
    max-width: 100%;
    height: auto;
}

#about .column.is-one-third {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#about .has-text-weight-bold {
    font-size: 1.5rem;
    color: #333333;
}

#about p {
    margin-bottom: 1.25rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--text-color);
}

#download-app {
    background-color: #F8941D;
    /* Warna oranye */
    padding: 5rem 2.5rem;
}

#download-app .title,
#download-app .subtitle {
    color: var(--text-color);
}

#download-app img {
    max-width: 200px;
}

.footer {
    padding: 2rem 1.5rem;
}

.footer .has-text-light {
    color: #ffffff;
}

.footer,
.bg-dark {
    background: #333;
}

.brand-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-icons a {
    font-size: 1.5rem;
}

.navbar-item.is-active {
    background-color: var(--brand-colors);
    color: #333;
    font-weight: bolder;
}